{% extends "accounts/base.html" %}
{% block content %}
    {% for image in images %}
        <blog class="media content-section">
          <div class="media-body">
            <div class="blog-metadata">
              <a class="mr-2" href="#">{{ image.name }}</a>
              <small class="text-muted">{{ image.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="blog-title" href="#">{{ image.title }}</a></h2>
            <p class="blog-content">{{ image.content }}</p>
          </div>
        </blog>
    {% endfor %}
{% endblock content %}